body {
    font-family: Helvetica, serif;
    font-size: 16px;
    background-image: url("space.jpg");
    background-color: dimgrey;
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

h1 {
    font-family: Helvetica, serif;
    border-bottom: 10px solid #010e24;
    color: #030000;
    font-size: 50px;
}
